<html ng-app="myApp">

<head>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../style/common.css">
</head>

<body ng-controller="myController">
    <div class="container list">
        <h1>Hi, Red 사용해줄고양?</h1>
        <% if(!session){ %>
            <button type="button" name="join" class="btn btn-default" ng-click="join()" style="float: right; margin-bottom: 20px;">JOIN</button>
            <button type="button" name="login" class="btn btn-default" ng-click="login()" style="float: right; margin-bottom: 20px; margin-right: 5px;">LOGIN</button>
            <% } else { %>
                <button type="button" name="logout" class="btn btn-default" ng-click="logout()" style="float: right; margin-bottom: 20px; margin-right: 5px;">LOGOUT</button>
                <%} %>
                    <table class="table" style="background-color: #fff; border-radius: 5px;">
                        <colgroup>
                            <col width="50"></col>
                            <col width="*"></col>
                            <col width="100"></col>
                            <col width="180"></col>
                        </colgroup>
                        <thead>
                            <tr>
                                <th>no.</th>
                                <th>subject</th>
                                <th>name</th>
                                <th>date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="li in list" ng-click="viewContents(li.id)">
                                <td>{{$index+1}}</td>
                                <td>{{li.subject}}</td>
                                <td>{{li.username}}</td>
                                <td>{{li.createdAt|dateString}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <% if(session){ %>
                        <button type="button" class="btn btn-default" ng-click="add()">ADD</button>
                        <% } %>
    </div>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script>
        var myAngular = angular.module('myApp', []);
        myAngular.controller('myController', function($scope, $http) {
            $scope.num = 0;
            $scope.list = [];
            $scope.press = function() {
                $scope.num = $scope.num + 1;
                $http.post('/article', {
                    'length': $scope.list.length
                }).success(function(ret) {
                    $scope.list.push(ret.length);
                })
            };
            $http.get('/article').success(function(ret) {
                console.log(ret)
                $scope.list = ret.list;
            });
            $scope.viewContents = function(id) {
                window.location.href = '/view?id=' + id;
            }
            $scope.add = function() {
                window.location.href = "/add";
            }
            $scope.join = function() {
                window.location.href = "/join";
            }
            $scope.login = function() {
                window.location.href = "/login";
            }
            $scope.logout = function() {
                $http.get('/logout').success(function(ret) {
                    if (ret.result) window.location.href = '/list';
                })

            }
        });
        myAngular.filter('dateString', function() {
            return function(date) {
              date = new Date(date);
              return date.toLocaleString();
            }
        })
    </script>
</body>

</html>
