<html ng-app="myApp">

<head>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/medium-editor/dist/css/medium-editor.css">
    <link rel="stylesheet" href="bower_components/medium-editor/dist/css/themes/beagle.css">
    <link rel="stylesheet" href="../style/common.css">
    <style>
        .editable:focus {
            border-color: #66afe9 !important;
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
        }
    </style>
</head>

<body ng-controller="myController">
    <div class="container">
        <h1>Here!</h1>
        <form ng-submit="add()" style="background-color: #fff; padding: 10px; border-radius: 5px;">
            <h5>subject</h5>
            <input type="text" class="form-control" name="subject" ng-model="subject">
            <h5>contents</h5>
            <div class="editable" name="contents" ng-bind="contents" contenteditable="true" style="white-space: pre-wrap; border: 1px solid #ccc; border-radius: 5px; padding: 10px;"></div>
            <!-- <textarea name="contents" class="form-control" cols="30" rows="10" ng-model="contents" contenteditable="true"></textarea> -->
            <button type="submit" name="save" class="btn btn-sm btn-default" style="margin-top: 10px;">SAVE</button>
            <button type="button" name="del" class="btn btn-sm btn-default" style="margin-top: 10px;" ng-click="del()">DEL</button>
            <button type="button" name="back" class="btn btn-sm btn-default" style="margin-top: 10px;" ng-click="back()">BACK</button>
            <button type="button" name="back" class="btn btn-sm btn-default" style="margin-top: 10px;" ng-click="list()">LIST</button>
        </form>
    </div>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/medium-editor/dist/js/medium-editor.js"></script>
    <script>
        var myAngular = angular.module('myApp', []);
        var editor = null;
        myAngular.controller('myController', function($scope, $http) {
            var vm = $scope;
            vm.id = '';
            vm.subject = '';
            vm.contents = '';
            vm.username = '';
            vm.back = function() {
                window.location.href = '/view?id=' + window.location.search.replace('?id=', '');
            }
            vm.list = function() {
                window.location.href = '/list';
            }
            vm.init = function() {
                editor = new MediumEditor('.editable', {
                    placeholder: {
                        text: ''
                    }
                });
                var id = window.location.search.replace('?id=', '');
                console.log(id);
                vm.id = id;
                $http.get('/article/' + id).success(function(ret) {
                    console.log(ret)
                    vm.subject = ret.view.subject;
                    vm.contents = ret.view.contents;
                    vm.username = ret.view.username;
                })
            }
            vm.init();
            vm.del = function(id) {
                $http.delete('/article/' + vm.id).success(function(ret) {
                    console.log(ret)
                    window.location.href = '/list';
                })
            }
            vm.add = function(form) {
                $http.put('/article', {
                    id: vm.id,
                    subject: vm.subject,
                    contents: editor.getContent()
                }).success(function(ret) {
                    console.log(ret)
                    window.location.href = '/list';
                })
            }
        });
    </script>
</body>

</html>
