<html ng-app="myApp">

<head>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../style/common.css">
</head>

<body ng-controller="myController">
    <div class="container login">
        <h1>Welcome!</h1>
        <form class="form-horizontal" ng-submit="add()" style="margin-top: 20px; background-color: #fff; padding: 10px; border-radius: 5px;">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" name="email" class="form-control" id="inputEmail3" placeholder="Email" ng-model="email">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Password" ng-model="password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Sign in</button>
                    <button type="button" class="btn btn-default" ng-click="back()">back</button>
                </div>
            </div>
        </form>
    </div>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script>
        var myAngular = angular.module('myApp', []);
        myAngular.controller('myController', function($scope, $http) {
            $scope.name = '';
            $scope.email = '';
            $scope.password = '';
            $scope.add = function() {
                $http.post('/login', {
                    email: $scope.email,
                    password: $scope.password
                }).success(function(ret) {
                    if (!ret.result) {
                        alert(ret.msg);
                        return;
                    }
                    window.location.href = '/list';
                })
            };
            $scope.back = function() {
                window.location.href = '/list';
            }
        });
    </script>
</body>

</html>
