<html ng-app="myApp">

<head>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../style/common.css">
</head>

<body ng-controller="myController">
    <div class="container">
        <h2>Here!</h2>
        <form ng-submit="add()" style="background-color: #fff; padding: 10px; border-radius: 5px;">
            <h1 ng-bind="subject"></h1>
            <div class="" style="text-align: right" ;>
                write by <span ng-bind='username'></span>
                <br/> createdAt : <span ng-bind="createdAt"></span>
                <br/> updatedAt : <span ng-bind="updatedAt"></span>
                <br/>
            </div>
            <div class="" ng-bind-html="contents" style="white-space: pre-wrap;"></div>
            <!-- <button type="submit" name="save" class="btn btn-sm btn-default" style="margin-top: 10px; display: none;">SAVE</button> -->
            <button type="button" name="edit" class="btn btn-sm btn-default" style="margin-top: 10px; display: none;" ng-click="edit()">EDIT</button>
            <button type="button" name="del" class="btn btn-sm btn-default" style="margin-top: 10px; display: none;" ng-click="del()">DEL</button>
            <button type="button" name="back" class="btn btn-sm btn-default" style="margin-top: 10px;" ng-click="back()">BACK</button>
        </form>
    </div>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script>
        var myAngular = angular.module('myApp', ['ngSanitize']);
        myAngular.controller('myController', function($scope, $http) {
            var vm = $scope;
            vm.id = '';
            vm.subject = '';
            vm.contents = '';
            vm.username = '';
            vm.createdAt = '';
            vm.updatedAt = '';
            vm.edit = function() {
                window.location.href = "/edit?id=" + window.location.search.replace('?id=', '');
            }
            vm.del = function(id) {
                $http.delete('/article/' + vm.id).success(function(ret) {
                    console.log(ret)
                    window.location.href = '/list';
                })
            }
            vm.back = function() {
                window.location.href = '/list';
            }
            vm.init = function() {
                vm.id = window.location.search.replace('?id=', '');
                $http.get('/article/' + vm.id).success(function(ret) {
                    console.log(ret)
                    vm.subject = ret.view.subject;
                    vm.contents = ret.view.contents;
                    vm.username = ret.view.username;
                    vm.createdAt = new Date(ret.view.createdAt).toLocaleString();
                    vm.updatedAt = new Date(ret.view.updatedAt).toLocaleString();
                    if ('<%= username %>' === vm.username) {
                        $("button[name=edit]").show();
                        $("button[name=del]").show();
                    }
                })
            }
            vm.init();
        });
    </script>
</body>

</html>
