<html ng-app="myApp">

<head>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
</head>

<body ng-controller="myController">
    <div class="container">
        <h1>Write Now!</h1>
        <form ng-submit="add()">
            <h5>subject</h5>
            <input type="text" class="form-control" name="subject" ng-model="subject">
            <h5>contents</h5>
            <textarea name="contents" class="form-control" cols="30" rows="10" ng-model="contents"></textarea>
            <button type="submit" class="btn btn-sm btn-default" style="margin-top: 10px;">ADD</button>
            <button type="button" class="btn btn-sm btn-default" style="margin-top: 10px;" ng-click="back()">BACK</button>
        </form>
    </div>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script>
        var myAngular = angular.module('myApp', []);
        myAngular.controller('myController', function($scope, $http) {
            $scope.subject = '';
            $scope.contents = '';
            $scope.add = function() {
                $http.post('/article', {
                    subject: $scope.subject,
                    contents: $scope.contents
                }).success(function(ret) {
                    console.log(ret)
                    window.location.href = '/app/app.html';
                })
            };
            $scope.back = function() {
                window.location.href = '/app/app.html';
            }
        });
    </script>
</body>

</html>
