<html ng-app="myApp">

<head>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
</head>

<body ng-controller="myController">
    <div class="container">
        <h1>Hi, Red</h1>
        <button type="button" name="join" class="btn btn-default" ng-click="join()" style="float: right; margin-bottom: 20px;">JOIN</button>
        <button type="button" name="login" class="btn btn-default" ng-click="login()" style="float: right; margin-bottom: 20px; margin-right: 5px;">LOGIN</button>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>no.</th>
                    <th>subject</th>
                    <th>date</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="li in list" ng-click="viewContents(li.id)">
                    <td>{{$index+1}}</td>
                    <td>{{li.subject}}</td>
                    <td>{{li.createdAt|date:'yy-mm-dd a hh:mm:ss'}}</td>
                </tr>
            </tbody>
        </table>
        
        <button type="button" class="btn btn-default" ng-click="add()">ADD</button>
    </div>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script>
        var myAngular = angular.module('myApp', []);
        myAngular.controller('myController', function($scope, $http) {
            $scope.num = 0;
            $scope.list = [];
            $scope.press = function() {
                $scope.num = $scope.num + 1;
                $http.post('/article', {
                    'length': $scope.list.length
                }).success(function(ret) {
                    $scope.list.push(ret.length);
                })
            };
            $http.get('/article').success(function(ret) {
                console.log(ret)
                $scope.list = ret.list;
            });
            $scope.viewContents = function(id) {
                window.location.href = '/app/view.html?id=' + id;
            }
            $scope.add = function() {
                window.location.href = "/app/add.html";
            }
            $scope.join = function() {
                window.location.href = "/app/user.html";
            }
            $scope.login = function() {
                window.location.href = "/app/login.html";
            }
        });
    </script>
</body>

</html>
