<html ng-app="myApp">

<head>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
</head>

<body ng-controller="myController">
    <div class="container">
        <h1>Here!</h1>
        <form ng-submit="add()">
            <h5>subject</h5>
            <input type="text" class="form-control" name="subject" ng-model="subject" disabled>
            <h5>contents</h5>
            <textarea name="contents" class="form-control" cols="30" rows="10" ng-model="contents" disabled></textarea>
            <button type="submit" name="save" class="btn btn-sm btn-default" style="margin-top: 10px; display: none;">SAVE</button>
            <button type="button" name="edit" class="btn btn-sm btn-default" style="margin-top: 10px;" ng-click="edit()">EDIT</button>
            <button type="button" name="del" class="btn btn-sm btn-default" style="margin-top: 10px;" ng-click="del()">DEL</button>
            <button type="button" name="back" class="btn btn-sm btn-default" style="margin-top: 10px;" ng-click="back()">BACK</button>
        </form>
    </div>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script>
        var myAngular = angular.module('myApp', []);
        myAngular.controller('myController', function($scope, $http) {
            $scope.id = '';
            $scope.subject = '';
            $scope.contents = '';
            $scope.edit = function() {
                $('input').attr("disabled", false);
                $('textarea').attr("disabled", false);
                $('button[name=edit]').hide();
                $('button[name=save]').show();
            }
            $scope.back = function() {
                window.location.href = '/app/app.html';
            }
            $scope.init = function() {
                var id = window.location.search.replace('?id=', '');
                console.log(id);
                $scope.id = id;
                $http.get('/article/' + id).success(function(ret) {
                    console.log(ret)
                    $scope.subject = ret.view.subject;
                    $scope.contents = ret.view.contents;
                })
            }
            $scope.init();
            $scope.del = function(id) {
                $http.delete('/article/' + $scope.id).success(function(ret) {
                    console.log(ret)
                    window.location.href = '/app/app.html';
                })
            }
            $scope.add = function(form) {
                $http.put('/article', {
                    id: $scope.id,
                    subject: $scope.subject,
                    contents: $scope.contents
                }).success(function(ret) {
                    console.log(ret)
                    window.location.href = '/app/app.html';
                })
            }
        });
    </script>
</body>

</html>
