@font-face {
    font-family: 'goyang';
    src: url(../font/Goyang.otf);
}

body{
  font-family: 'goyang';
  background-color: #EDEFF0;
}

.container table, .list h1, .login h1 {
  text-align: center;
}
.container table thead th{
  text-align: center;
}
